# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: LicenseRef-Intel-Edge-Software
# This file is licensed under the Limited Edge Software Distribution License Agreement.

.vscode
.ipynb_checkpoints
__pycache__/
build/
build_cmake/
env/
.eggs/
*.egg
*.egg-info/
*.so
env/
dist/

# Sphinx documentation
docs/_build/
docs/generated/
