# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# This file is licensed under Apache 2.0 License.

addict
h5py
intel_extension_for_pytorch==2.7.0
intel-openmp==2025.2.0
kornia
kubernetes
numpy>=1.16.6,<=2.0.2
onvif-zeep
open3d-cpu[headless]
opencv-python-headless
paho-mqtt
pillow
pyyaml
scipy>=1.4.0
trimesh
torch==2.7.1+cpu
torchvision==0.22.1+cpu
