# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default Code Owners
@saratpoluri
@ltalarcz
@tdorauintc
@MikolajKasprzak
@dmytroye
@jdanieck
@GrzegorzWrobel
@Irakus
@daddo-intel
@sarthakdeva-intel
@sbelhaik
