# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# This file is licensed under Apache 2.0 License.

# Keep package list in alphabetical order
django
django-axes
django-debug-toolbar
django-session-timeout
djangorestframework
jsonschema
kubernetes
numpy>=1.16.6,<=1.26.4
onvif-zeep
open3d-cpu
opencv-python-headless
paho-mqtt
pillow
psycopg2-binary
pyyaml
requests
trimesh
scipy
urllib3
websockets
