# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# This file is licensed under Apache 2.0 License.

torch>=1.1
torchvision>=0.3
opencv-python-headless
tqdm>=4.36.0
matplotlib
h5py
pycolmap==0.4.0
kornia>=0.6.6
gdown
addict
paho-mqtt
