# SPDX-FileCopyrightText: (C) 2025 - 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# This file is licensed under Apache 2.0 License.

# Keep package list in alphabetical order
coverage==7.13.5
django-debug-toolbar==6.3.0
pupil-apriltags==1.0.4.post11
pytest==9.0.3
pytest-django==4.12.0
pytest-html==4.2.0
pytest-metadata==3.1.1
pyvirtualdisplay==3.0
scikit-image==0.26.0
selenium==4.43.0
