{% for copyright_line in copyright_lines %}
  {{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}
  SPDX-License-Identifier: {{ expression }}
{% endfor %}
This file is licensed under the Limited Edge Software Distribution License
Agreement.
