# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# This file is licensed under Apache 2.0 License.

pytest
numpy
selenium
selenium-wire
blinker==1.9.0
pyvirtualdisplay
opencv-python
setuptools
xmltodict
pyyaml
pylint [spelling] == 3.3.7
flake8 == 7.3.0
