---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "[Tests] All Tests"
run-name: "[Tests] All Tests"

on:
  schedule:
    - cron: "0 2 * * *" # Runs daily at 2:00 AM UTC
  workflow_dispatch:
    inputs:
      cleanup:
        description: "Cleanup before running ALL tests"
        required: false
        default: false
        type: boolean
      timeout:
        description: "Timeout for the job in minutes"
        required: false
        type: number
        default: 70
  pull_request:
    branches:
      - release-*
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - release-*

  # Trigger workflow when enqueued to a merge group
  # (must be under 'on')
  merge_group: {}

# Only run at most 1 workflow concurrently per PR or per branch to keep costs down
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DOCKER_BUILDKIT: 1
  SUPASS: ${{ secrets.SUPASS }}
  BUILD_TYPE: DAILY

permissions:
  contents: read

jobs:
  run-all-tests:
    name: "Run All Tests"
    runs-on: [self-hosted]
    timeout-minutes: ${{ fromJSON(inputs.timeout || '70') }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: "Remove all Docker images"
        if: ${{ github.event.inputs.cleanup == 'true' }}
        run: |
          docker system prune -a --volumes -f

      - name: "Setup Python"
        id: setup-python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13"

      - name: "Cache Python Virtualenv"
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('.github/resources/requirements.txt') }}
          restore-keys: |
            venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}

      - name: "Run Secrets and Certificates Initialization"
        run: |
          git clean -fdx
          make clean-all
          make -C tools/certificates clean
          make init-secrets

      - name: "Build scene_common"
        run: |
          make -C scene_common

      - name: "Run All Tests"
        run: |
          python3 -m venv venv
          source $PWD/venv/bin/activate
          echo "$PWD/venv/bin" >> $GITHUB_PATH
          pip install -r .github/resources/requirements.txt
          make run_tests

      - name: "Stop all running Docker containers"
        if: always()
        run: |
          docker ps -q | xargs -r docker kill

      - name: "Clean runner"
        if: always()
        run: |
          if [ -n "$GITHUB_WORKSPACE" ] && [ -d "$GITHUB_WORKSPACE" ]; then
            find "$GITHUB_WORKSPACE" -type f -exec chmod u+rw {} \;
            find "$GITHUB_WORKSPACE" -mindepth 1 -delete
          else
            echo "Error: GITHUB_WORKSPACE is not set or is not a directory" >&2
            exit 1
          fi
